<p id="notice"><%= notice %></p>

<h1>Heros</h1>

<table>
  <thead>
    <tr>
      <th>Video</th>
      <th>Image</th>
      <th>Title en</th>
      <th>Title nb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= hero.video %></td>
        <td><%= hero.image %></td>
        <td><%= hero.title_en %></td>
        <td><%= hero.title_nb %></td>
        <td><%= link_to 'Show', hero %></td>
        <td><%= link_to 'Edit', edit_hero_path(hero) %></td>
        <td><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hero', new_hero_path %>
