
<div class="col-sm-12">
  <div class="wrapper">
    <div class="col-md-12 menu">
      <div id="menu_logo_container">
        <%= link_to root_path do %>
          <%= image_tag "neven_logo.png", alt:"Neven logo" %>
          <h1 class="capital nomargin logo_title">neven</h1>
        <% end  %>
      </div>
    </div>

    <div class="col-md-12 main_menu">
      <div class="col-md-1"></div>
      <div class="col-sm-6 menu_links">
        <a class="hamburger_toggle toggle-nav glyphicon glyphicon-menu-hamburger" href="#"></a>

        <ul class="menu_links_ul">
          <li class="active mobieicon_align">
            <%= link_to root_path do %>
            <span title="{{trans('home_icon_that_takes_you_to_the_inex_page')}}" class="menu_icon mobile_only home_mobile_icon" ></span><%= t :home %>
            <% end  %>
          </li>
          <li class="dropdown mobieicon_align">

            <button class="menu_button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span title="<%= t :categories %>" class="menu_icon mobile_only categories_mobile_icon" ></span>
              <%= t :categories %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <%= link_to (t :all_products), products_path() %>
              </li>
              <% Category.all.each do |category| %>
              <li>
                <%= link_to category.title_en, category_path(category.slug) %>
              </li>
              <% end %>
            </ul>
          </li>

          <li class="dropdown mobieicon_align">
            <button class="menu_button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="menu_icon mobile_only stockist_mobile_icon" title="<%= t :stockists %>" ></span>
                <%= t :stockists %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li>
                <%= link_to (t :view_stockists), stockists_path() %>
              </li>
              <li>
                <%= link_to (t :become_stockist), controller: 'stockist', action: "become" %>
              </li>
            </ul>
          </li>

          <li class="mobieicon_align">
            <%= link_to ( about_url) do %>
              <span class="menu_icon mobile_only aboutus_mobile_icon" title=" <%= t :about_us %>" ></span>
              <%= t :about_us %>
            <% end %>
          </li>

          <li class="mobieicon_align">
            <%= link_to ( contact_url) do %>
              <span class="menu_icon mobile_only contact_mobile_icon" ></span>
                <%= t :contact_us %>
            <% end %>
            </a>
          </li>

          <li class="mobieicon_align">
            <%= link_to (articles_path()) do %>
              <span title="<%= t :blog %>" class="menu_icon mobile_only blog_mobile_icon" ></span>
                <%= t :blog %>
            <% end %>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-md-3 menu_links">
        <ul class="menu_links_ul align_right mobile_left">
          <li class="mobieicon_align">
            <a href="">
              <%= image_tag "menu/cart.svg", class:"cart_icon", title: (t :cart) %>
              <span class="cart_count">
                <span class="counter_number"><%= 0 %></span>
              </span>
            </a>

          </li>
          <% if I18n.locale == :en %>
          <li class="mobieicon_align">
            <span class="menu_icon mobile_only language_mobile_icon" ></span><span class="language_icon">
              <%= link_to "NO", :locale=>'nb'%>
              </span>

          </li>
          <% else %>
          <li class="mobieicon_align">
            </span><span class="language_icon">
              <%= link_to "EN", '/en'%>
            </span>

          </li>
          <% end %>
          <% if current_user %>
          <li class="mobieicon_align">
            <a title="{{trans('text.sign_in_alt')}}" class="login_button" href="{{ route('auth.login') }}"><span class="menu_icon mobile_only signin_mobile_icon"></span>{{ trans('text.log_in')}}
            </a>
          </li>

          <li class="mobieicon_align">
            <a href="{{ route('auth.register') }}"><span title="{{ trans('text.sign_up_alt')}}" class="menu_icon mobile_only signup_mobile_icon" >
            </span>{{ trans('text.sign_up')}}</a>
          </li>

          <% else %>
          <li><a id="log_out_button" href="{{ route('auth.logout') }}">{{ trans('text.log_out')}}</a></li>
          <li class="logged_user">{{ Auth::user()->name }}</li>
          <% end %>

        </ul>

      </div>
      <div class="col-md-1 menu_links">
        <form  id="search_form" class="" role="search" method="GET" action="{{ route('search') }}">
          <input id="search_input" placeholder={{trans('text.search')}} size=10 type="text" name="term" class=""/>
          <input src="/images/search.svg" id="search_submit" size=1 type="image" class="btn-default" alt="{{trans('text.search_icon_all')}}"/>
        </form>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
