<!DOCTYPE html>
<html>
  <head>
    <title>RailsNeven</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render :partial => "partials/menu" %>
       <%= yield :landing%>
    <%= yield %>
    <%= render :partial => "partials/footer" %>
  </body>
</html>
